<ul class="nurseries">
  <a href="nurseries/<%= nursery.id %>">
    <li><%= nursery.name %></li>
    <li><%= nursery.position %></li>
    <li><%= nursery.open_time %></li>
    <li><%= nursery.extend_time %></li>
  </a>
</ul>